*{
    background-color: rgba(169, 49, 49, 0);
    padding: 0;
    margin: 0;
    font-family:'Roboto Mono';
    
}
@font-face {
    font-family: 'titrbold';
    src: url('titr-webfont.woff2') format('woff2'),
         url('titr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.videosmile {
    width: 35%;
}
.mainimg {

    height: 60vh;
    width: auto;
    margin-left: 25px;
}
.title{
    position:absolute;
    text-decoration: none;
    background-color: rgba(0, 0, 255, 0);
    width: 40%;
    height: 50px;
    padding-left: 20px;
    font-size: 60px;
    color: rgb(0, 0, 0);
    font-family:'Roboto Mono';
}
.title2{
    text-decoration: none;
    position: absolute;
    right: 0;
    text-align: right;
    padding-right: 25px;
    background-color: rgba(0, 0, 255, 0);
    width: 50%;
    height: 100px;
    font-size: 60px;
    color: rgb(0, 0, 0);
    font-family:'titrbold';
}
.links{
    display: block;
    justify-content: center;
    background-color: rgba(0, 0, 255, 0);
    padding: 5px;
    width: 30%;
    height: fit-content;
    position: absolute;
    left: 35%;
}
.info{
    width: fit-content;
    height: fit-content;
    display: flex;
    margin: auto;
    margin-top: 15px;
    font-family: 'roboto mono';
    cursor: pointer;
    color: black;

}
.infotwo{
    width: fit-content;
    height: fit-content;
    display: flex;
    margin: auto;
    margin-top: 15px;
    font-family: 'roboto mono';
    cursor: pointer;
    color: black;

}
.cv{
    width: fit-content;
    height: fit-content;
    display: flex;
    margin: auto;
    margin-top: 10px;
    font-family: 'roboto mono';
    cursor: pointer;
}
.content{
    display: flex;
    flex-direction:row;
    align-items: center;
    gap: 25px;
    padding-top: 100px;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 255, 0);
}
.contenttwo{
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 25px;
    padding-top: 100px;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 255, 0);
}
.bio {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 55%;

}
.biotwo {
    margin-top: 10px;
}
img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.comingsoon{
    display: block;
    width: fit-content;
    font-size: 40px;
    font-family: 'roboto mono';
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.cvlink {
    margin-top: 15px; 
    color: black;
    font: bold;
}
.coverimg {
    margin-top: 25px;
    width: 45%;
    height: auto;
}
.contentimg {
    width: 35%;
    height: auto;

}
.poemtext {
    display: flex;
    gap: 25px;
    font-size: 14px;
}
.englishpoem {
    font-weight: bold;
    text-align: left;
}
.persianpoem {
font-weight: bold;
    text-align: right;
}
.contentworks{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 200px;
    padding-left: 35px;
    width: 100%;
}
.pikaimg {

    width: 25%;
    margin-right: 50px;
    height: auto;
    display: absolute;

}
.emaillink {
    margin-top: 15px; 
    color: black;
    font: bold;
}
.pikaimgholder {
    width: 100%;
    display: flex;
    justify-content: right;
    margin-bottom: 40px;
}
.mediumfamily {
    margin-top: 20px;
    margin-bottom: 40px;
}
.mediumsafety {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
.contentleaksimg {
    width: 100%;
    height: auto;
}
.myvideo {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    cursor: pointer;
    position: absolute;
    margin-left: 43%;
    margin-top:670PX;
    color:rgb(255, 255, 255);
    background-color: black;
}
.linkswork {
color: black;
}
@media only screen and (max-width: 600px) {
    .mainimg {

        height: 40vh;
        width: auto;
        margin-left: 0px;
    }
    .title{
        position:absolute;
        text-decoration: none;
        background-color: rgba(0, 0, 255, 0);
        width: 40%;
        height: 100px;
        padding-left: 5px;
        font-size: 20px;
        color: rgb(0, 0, 0);
        font-family:'Roboto Mono';
    }
    .title2{
        text-decoration: none;
        position: absolute;
        right: 0;
        text-align: right;
        padding-right: 25px;
        background-color: rgba(0, 0, 255, 0);
        width: 50%;
        height: 100px;
        font-size: 20px;
        color: rgb(0, 0, 0);
        font-family:'titrbold';
    }
    .links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(0, 0, 255, 0);
        width: 100%;
        height: fit-content;
        position: absolute;
        left: 2%;
        margin-top: 15px;
    }
    .info{
        width: fit-content;
        height: fit-content;
        display: flex;
        margin: auto;
        margin-top: 15px;
        font-family: 'roboto mono';
        cursor: pointer;
        color: black;
    
    }
    .infotwo {
        width: fit-content;
        height: fit-content;
        display: flex;
        margin: auto;
        margin-top: 15px;
        font-family: 'roboto mono';
        cursor: pointer;
        color: black;
    }
    .cv{
        width: fit-content;
        height: fit-content;
        display: flex;
        margin: auto;
        margin-top: 10px;
        font-family: 'roboto mono';
        cursor: pointer;
    }
    .content{
        display: flex;
        flex-direction:column;
        align-items: center;
        gap: 25px;
        padding-top: 100px;
        width: 100%;
        height: auto;
        background-color: rgba(0, 0, 255, 0);
    }
    .videosmile {
        width: 50%;
        margin-top: 20px;
    }
    .contenttwo{
        display: flex;
        flex-direction:column;
        align-items: center;
        gap: 25px;
        padding-top: 100px;
        width: 100%;
        height: auto;
        background-color: rgba(0, 0, 255, 0);
    }
    .bio {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 80%;
        font-size: 11px;
    
    }
    .biotwo {
        margin-top: 10px;
    }
    img{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .comingsoon{
        display: block;
        width: fit-content;
        font-size: 40px;
        font-family: 'roboto mono';
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .cvlink {
        margin-top: 15px; 
        color: black;
        font: bold;
    }
    .emaillink {
        margin-top: 0px; 
        color: black;
        font: bold;
    }
    .coverimg {
        margin-top: 25px;
        width: 50%;
        height: auto;
    }
    .contentimg {
        width: 75%;
        height: auto;
    
    }
    .poemtext {
        display: flex;
        flex-direction: column;
        gap: 25px;
        font-size: 10px;
        width: 90%;

    }
    .englishpoem {
        font-weight: bold;
        text-align: left;

    }
    .persianpoem {
    font-weight: bold;
        text-align: right;
    }
    .contentworks{
        text-decoration: none;
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding-top: 200px;
        padding-left: 35px;
        width: 100%;
    }
    .pikaimg {
    
        width: 55%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 35px;
        height: auto;
        display: absolute;
    
    }
    .pikaimgholder {
        width: 100%;
        display: flex;
        justify-content: right;
        margin-bottom: 40px;
    }
    .mediumfamily {
        margin-top: 20px;
        margin-bottom: 40px;
        font-size: 11px;
    }
    .mediumsafety {
        width: 90%;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 40px;
        font-size: 11px;
    }
    .contentleaksimg {
        width: 100%;
        height: auto;
    }
    .myvideo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        cursor: pointer;
        position: absolute;
        margin-left: 0%;
        margin-top:350PX;
        color:rgb(255, 255, 255);
        background-color: black;
    }
    .linkswork {
    color: black;
    }
  }